ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 54, 105);
}

#sideBarButtonToggle {
  float: left;
}

#menu {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 115, 0);
}

.active {
  background-color: rgb(255, 115, 0)
}

/* Toggle B */
input:checked~.dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* HAMBURGER MENU */
#hamburgerMenuButton {
  float: right;
  padding-right: 50px;
}

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: rgb(255, 115, 0);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: rgb(255, 115, 0);
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg) translateY(0px);
}